.branding {

    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.branding video {
    position: fixed;
    height: 500px;
    width: 100%;
    object-fit: cover;
}


.branding-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 560px;
    position: relative;
    z-index: 1;
    background-color: #23272a;
    margin: 0 auto;

}

.branding-img {
    margin: 10px;

}

.branding-img img {
    width: 400px;
}

.branding-info {
    margin: 10px;
    width: 35%;

}

.branding-info h1 {
    font-size: 4.8rem;
    padding-bottom: 20px;
    
}

.branding-info p {
    font-size: 1.3rem;
    width: 70%;
    padding-bottom: 20px;
}