@import url('navbar.css');
@import url('branding.css');
@import url('buttons.css');
@import url('cards-info.css');
@import url('footer.css');

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
