* {
    margin: 0;
    padding: 0;
    font-family: '', sans-serif;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.container-content {
    position: absolute;
    top: 35%;
}

.container-content h3 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 0px 100px;
    font-weight: lighter;
}

.container-content h1 {
    font-size: 2.7rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 80px;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.partners {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
}

.partners-info {
    width: 50%;
    margin: 10px;
}

.partners-info b {
    font-size: 12px;
}

.partners-info p {
    font-size: 10px;
}

.users ul {
    list-style-type: none;
    padding: 0;
}

.users li {
    display: inline-block;
    font-size: 12px;
}

.partners img {
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 5px;
    margin-left: -16px;
    padding: 10px;
}

#color-1 {
    background-color: blueviolet;
}

#color-2 {
    background-color: springgreen;
}

#color-3 {
    background-color: orange;
}

#color-4 {
    background-color: dodgerblue;
}

.hr-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 80%;
    text-align: center;
    border-color: #eee;
}